<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav class="mat-elevation-z10" mode="side" opened>
    <h4>
      Navbar
    </h4>
    <ul>
      <li><a href="#">Some link</a></li>
      <li><a href="#">Some link</a></li>
      <li><a href="#">Some link</a></li>
      <li><a href="#">Some link</a></li>
      <li><a href="#">Some link</a></li>
      <li><a href="#">Some link</a></li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar color="accent">
      <button mat-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      toolbar
    </mat-toolbar>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquam sed dui nec faucibus. Integer quis metus quis ligula porttitor laoreet. Integer et euismod justo. Mauris in finibus ex. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras dignissim arcu at ante finibus imperdiet. Aliquam sed mi non massa bibendum suscipit lobortis eu ante. Nam eget erat vestibulum, bibendum quam a, tempor lacus. Nunc molestie turpis non auctor dictum. Nunc quis condimentum nibh. Nunc et diam a odio ultrices maximus in vel metus. Sed dapibus neque ut massa porta, id malesuada erat consectetur.
    </p>

<p>
  Sed eu tincidunt nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lobortis ex at metus lacinia, nec cursus metus rutrum. Morbi luctus vehicula arcu, a mollis mauris dictum sit amet. Nullam dignissim sapien at nisi dictum, non tincidunt magna finibus. Donec at mollis nibh. Phasellus vitae nunc quam.
</p>

<p>
  Integer placerat justo molestie dolor congue, eu porta arcu varius. Curabitur ligula sapien, tristique ut lectus et, tincidunt pretium arcu. Nullam mattis purus non consequat fringilla. Praesent id tellus sed lacus placerat vehicula. Nunc sagittis pharetra sodales. Nam aliquet bibendum turpis eu imperdiet. Donec faucibus dui non augue dignissim mollis. Nulla pellentesque, velit ut tempor accumsan, lectus urna volutpat ante, feugiat egestas dolor ipsum non arcu. Phasellus non placerat risus. Integer condimentum, mauris eget convallis fringilla, magna tellus sodales sem, et semper mauris nisl non massa. Quisque tempus, orci id convallis rutrum, ligula arcu aliquam urna, tincidunt cursus orci mi vel justo. Quisque finibus tellus placerat neque sodales bibendum.
</p>
<p>
Phasellus semper tincidunt sem sed posuere. Sed accumsan erat sed placerat commodo. Aliquam eu porta eros, at iaculis nisi. Maecenas euismod tincidunt mi vel cursus. In nec laoreet mauris. Maecenas ac lorem sit amet metus consectetur tincidunt ac sed mi. Mauris pharetra lectus a eros tincidunt, vel porta odio blandit. Sed tellus turpis, euismod in aliquet ac, condimentum sed odio. Maecenas ultrices neque et velit pulvinar laoreet nec vel dui. Donec dui risus, tincidunt nec hendrerit a, commodo eget quam.
</p>
  </mat-sidenav-content>
</mat-sidenav-container>
<footer>
  <p>
    This is application footer
  </p>
</footer>